name: hello world
on: 
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build step
        run: echo "A demo build,${{var.MY_NAME}}"
 

  
      
    
